# IDE 설정
.idea/
*.iml

# Visual Studio 관련
*.vcxproj
*.filters
*.user

# 빌드 결과물
*.exe
*.o
x64/
build/
bin/

# 시스템
.DS_Store
Thumbs.db

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store